<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    </include>

  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find franka_panda_description)/urdf/panda_hand.urdf -urdf  -model panda
    -J panda_joint1 0
    -J panda_joint2 -0.7854
    -J panda_joint3 0
    -J panda_joint4 -2.3562
    -J panda_joint5 0
    -J panda_joint6 1.5708
    -J panda_joint7 0.7854
    "
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  

  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find franka_panda_description)/config/panda.rviz" /> -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="False"/>
  </node>

  <param name="robot_description" command="$(find xacro)/xacro $(find franka_panda_description)/urdf/panda_hand.urdf " />


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="true" output="screen">
    <remap from="/joint_states" to="/panda/joint_states" />
  </node>

  <rosparam file="$(find franka_panda_description)/controller/arm_controller_panda_hand.yaml" command="load"/>


  <node name="controller_spawner"
      pkg="controller_manager" 
      type="spawner" 
      respawn="false"
    	output="screen" 
      ns="/panda" 
      args="joint_state_controller
      panda_joint1_effort_controller
      panda_joint2_effort_controller
      panda_joint3_effort_controller
      panda_joint4_effort_controller
      panda_joint5_effort_controller
      panda_joint6_effort_controller
      panda_joint7_effort_controller
      panda_finger_joint1_position_controller
      panda_finger_joint2_position_controller
      "/>


</launch>